 <!-- thong tin nhan vien -->
 <div class="employee-container-content-wrapped active">
    <div class="col-half">
        
        <div class="employee-container-content">
            <div class="employee-info">
                <div class="employee-info-img"></div>
                <div class="employee-about">
                    <p class="employee-name">Nguyen Duy Hieu</p>
                    <div class="employee-desc">
                        <span class="employee-age">Age: 22</span>
                        <span class="employee-position">Position: Truong phong</span>
                    </div>
                </div>
            </div>
            <div class="employee-action">
                <span class="employee-show-info">
                    <i class="ti-menu-alt"></i>
                </span>
                <span class="employee-delete">
                    <i class="ti-close"></i>
                </span>
            </div>
        </div>
       
        <div class="employee-container-content">
            <div class="employee-info">
                <div class="employee-info-img"></div>
                <div class="employee-about">
                    <p class="employee-name">Nguyen Duy Hieu</p>
                    <div class="employee-desc">
                        <span class="employee-age">Age: 22</span>
                        <span class="employee-position">Position: Truong phong</span>
                    </div>
                </div>
            </div>
            <div class="employee-action">
                <span class="employee-show-info">
                    <i class="ti-menu-alt"></i>
                </span>
                <span class="employee-delete">
                    <i class="ti-close"></i>
                </span>
            </div>
        </div>
        <div class="employee-container-content">
            <div class="employee-info">
                <div class="employee-info-img"></div>
                <div class="employee-about">
                    <p class="employee-name">Nguyen Duy Hieu</p>
                    <div class="employee-desc">
                        <span class="employee-age">Age: 22</span>
                        <span class="employee-position">Position: Truong phong</span>
                    </div>
                </div>
            </div>
            <div class="employee-action">
                <span class="employee-show-info">
                    <i class="ti-menu-alt"></i>
                </span>
                <span class="employee-delete">
                    <i class="ti-close"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="col-half">
        <div class="employee-container-content">
            <div class="employee-info">
                <div class="employee-info-img"></div>
                <div class="employee-about">
                    <p class="employee-name">Nguyen Duy Hieu</p>
                    <div class="employee-desc">
                        <span class="employee-age">Age: 22</span>
                        <span class="employee-position">Position: Truong phong</span>
                    </div>
                </div>
            </div>
            <div class="employee-action">
                <span class="employee-show-info">
                    <i class="ti-menu-alt"></i>
                </span>
                <span class="employee-delete">
                    <i class="ti-close"></i>
                </span>
            </div>
        </div>
        <div class="employee-container-content">
            <div class="employee-info">
                <div class="employee-info-img"></div>
                <div class="employee-about">
                    <p class="employee-name">Nguyen Duy Hieu</p>
                    <div class="employee-desc">
                        <span class="employee-age">Age: 22</span>
                        <span class="employee-position">Position: Truong phong</span>
                    </div>
                </div>
            </div>
            <div class="employee-action">
                <span class="employee-show-info">
                    <i class="ti-menu-alt"></i>
                </span>
                <span class="employee-delete">
                    <i class="ti-close"></i>
                </span>
            </div>
        </div>
        <div class="employee-container-content">
            <div class="employee-info">
                <div class="employee-info-img"></div>
                <div class="employee-about">
                    <p class="employee-name">Nguyen Duy Hieu</p>
                    <div class="employee-desc">
                        <span class="employee-age">Age: 22</span>
                        <span class="employee-position">Position: Truong phong</span>
                    </div>
                </div>
            </div>
            <div class="employee-action">
                <span class="employee-show-info">
                    <i class="ti-menu-alt"></i>
                </span>
                <span class="employee-delete">
                    <i class="ti-close"></i>
                </span>
            </div>
        </div>
        <div class="employee-container-content">
            <div class="employee-info">
                <div class="employee-info-img"></div>
                <div class="employee-about">
                    <p class="employee-name">Nguyen Duy Hieu</p>
                    <div class="employee-desc">
                        <span class="employee-age">Age: 22</span>
                        <span class="employee-position">Position: Truong phong</span>
                    </div>
                </div>
            </div>
            <div class="employee-action">
                <span class="employee-show-info">
                    <i class="ti-menu-alt"></i>
                </span>
                <span class="employee-delete">
                    <i class="ti-close"></i>
                </span>
            </div>
        </div>
    </div>
</div>