<!-- tim kiem -->
<div class="employee-container-content-wrapped search-container">
    <!-- tim kiem theo ten -->
    <div class="search-wrapped">
        <div class="employee-search-by-name">
            <h1 class="employee-search-title">Tìm kiếm theo tên</h1>
            <span>Nhập tên nhân viên: </span>
            <input type="text" name="" id="search-input">
        </div>
        <!-- tim kiem bang hinh -->
        <div class="employee-search-by-img">
            <h1 class="employee-search-title">Tìm kiếm bằng hình ảnh</h1>
            <label for="search-img" class="search-img-btn">Upload ảnh</label>
            <input type="file" name="" id="search-img">
        </div>
    </div>
    <!-- search result -->
    <div class="employee-search-result">
        <span>Kết quả</span>
        <div class="employee-info">
            <div class="employee-info-img"></div>
            <div class="employee-about">
                <p class="employee-name">Nguyen Duy Hieu</p>
                <div class="employee-desc">
                    <span class="employee-age">Age: 22</span>
                    <span class="employee-position">Position: Truong phong</span>
                </div>
            </div>
        </div>
        <span class="search-none">Không có kết quả cần tìm</span>
        
</div>